{
	"apiKeys": {
		"owm": {
			"apiKey": ""
		},
			"firebase": {
				"apiKey": "",
				"authDomain": "",
				"databaseURL": "",
				"projectId": "",
				"storageBucket": "",
				"messagingSenderId": ""
		}
	}
}